USE [master]
GO
/****** Object:  Database [PlacementCellDb]    Script Date: 11/1/2025 5:23:39 PM ******/
CREATE DATABASE [PlacementCellDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlacementCellDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlacementCellDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlacementCellDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlacementCellDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlacementCellDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlacementCellDb]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] NOT NULL,
	[Permissions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[JobId] [int] NULL,
	[AppliedDate] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentQuestions]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NULL,
	[Question] [nvarchar](max) NULL,
	[Options] [nvarchar](max) NULL,
	[CorrectAnswer] [nvarchar](max) NULL,
	[Marks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[TotalMarks] [int] NULL,
	[PassingMarks] [int] NULL,
	[DurationMinutes] [int] NULL,
	[IsTimed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](255) NULL,
	[EntityType] [nvarchar](100) NULL,
	[EntityId] [int] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NULL,
	[IpAddress] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[Industry] [nvarchar](100) NULL,
	[Website] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[RegistrationNumber] [nvarchar](100) NULL,
	[LicensePath] [nvarchar](500) NULL,
	[KYCStatus] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[ContactPerson] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseModules]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseModules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[OrderIndex] [int] NULL,
	[ContentType] [nvarchar](50) NULL,
	[ContentPath] [nvarchar](500) NULL,
	[DurationMinutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](100) NULL,
	[InstructorId] [int] NULL,
	[DurationHours] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[IsPaid] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[DocumentType] [nvarchar](100) NULL,
	[FileName] [nvarchar](255) NULL,
	[FilePath] [nvarchar](500) NULL,
	[UploadDate] [datetime2](7) NULL,
	[VerificationStatus] [nvarchar](50) NULL,
	[VerifiedBy] [int] NULL,
	[VerifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[CourseId] [int] NULL,
	[EnrolledDate] [datetime2](7) NULL,
	[ProgressPercentage] [decimal](5, 2) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[CertificatePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NULL,
	[ScheduledDate] [datetime2](7) NULL,
	[InterviewType] [nvarchar](50) NULL,
	[Platform] [nvarchar](100) NULL,
	[MeetingLink] [nvarchar](500) NULL,
	[Interviewer] [nvarchar](100) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Requirements] [nvarchar](max) NULL,
	[Department] [nvarchar](100) NULL,
	[Location] [nvarchar](255) NULL,
	[JobType] [nvarchar](50) NULL,
	[SalaryMin] [decimal](10, 2) NULL,
	[SalaryMax] [decimal](10, 2) NULL,
	[Stipend] [decimal](10, 2) NULL,
	[DurationMonths] [int] NULL,
	[PostedDate] [datetime2](7) NULL,
	[Deadline] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[EligibilityCriteria] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NULL,
	[ReceiverId] [int] NULL,
	[Subject] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[SentDate] [datetime2](7) NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstCourse]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstCourse](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [varchar](5) NULL,
	[FacultyID] [int] NOT NULL,
	[ProgramID] [int] NOT NULL,
	[CourseName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstFaculty]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstFaculty](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [varchar](5) NULL,
	[FacultyName] [varchar](100) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstFacultyType]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstFacultyType](
	[FacultyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyType] [varchar](50) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[Message] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ScheduledDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[Currency] [nvarchar](10) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[TransactionId] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReviewerId] [int] NULL,
	[RevieweeId] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[SpecID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Specialization] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAnswers]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NULL,
	[AssessmentId] [int] NULL,
	[QuestionId] [int] NULL,
	[Answer] [nvarchar](max) NULL,
	[IsCorrect] [bit] NULL,
	[MarksObtained] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] NOT NULL,
	[MedicalSpecialization] [nvarchar](100) NULL,
	[GraduationYear] [int] NULL,
	[NEETScore] [decimal](5, 2) NULL,
	[ResumePath] [nvarchar](500) NULL,
	[ProfilePicturePath] [nvarchar](500) NULL,
	[Bio] [nvarchar](max) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/1/2025 5:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admins] ([Id], [Permissions]) VALUES (1, N'{"canManageUsers": true, "canVerifyDocuments": true, "canModerateContent": true, "canViewReports": true}')
INSERT [dbo].[Admins] ([Id], [Permissions]) VALUES (2, N'{"canManageUsers": false, "canVerifyDocuments": true, "canModerateContent": true, "canViewReports": false}')
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [StudentId], [JobId], [AppliedDate], [Status], [Notes]) VALUES (1, 7, 1, CAST(N'2025-08-30T10:07:00.0300000' AS DateTime2), N'Shortlisted', N'Strong cardiology background')
INSERT [dbo].[Applications] ([Id], [StudentId], [JobId], [AppliedDate], [Status], [Notes]) VALUES (2, 7, 2, CAST(N'2025-08-25T10:07:00.0300000' AS DateTime2), N'Applied', N'Interested in emergency medicine')
INSERT [dbo].[Applications] ([Id], [StudentId], [JobId], [AppliedDate], [Status], [Notes]) VALUES (3, 8, 3, CAST(N'2025-08-30T10:07:00.0300000' AS DateTime2), N'Interviewed', N'Excellent neurology performance')
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[AssessmentQuestions] ON 

INSERT [dbo].[AssessmentQuestions] ([Id], [AssessmentId], [Question], [Options], [CorrectAnswer], [Marks]) VALUES (1, 1, N'What is the normal range for adult blood pressure?', N'["120/80 mmHg", "140/90 mmHg", "100/60 mmHg", "160/100 mmHg"]', N'120/80 mmHg', 5)
INSERT [dbo].[AssessmentQuestions] ([Id], [AssessmentId], [Question], [Options], [CorrectAnswer], [Marks]) VALUES (2, 1, N'Which valve is most commonly affected in rheumatic heart disease?', N'["Aortic", "Mitral", "Tricuspid", "Pulmonary"]', N'Mitral', 5)
INSERT [dbo].[AssessmentQuestions] ([Id], [AssessmentId], [Question], [Options], [CorrectAnswer], [Marks]) VALUES (3, 2, N'What is the primary function of the cerebellum?', N'["Memory", "Coordination", "Vision", "Hearing"]', N'Coordination', 10)
SET IDENTITY_INSERT [dbo].[AssessmentQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Assessments] ON 

INSERT [dbo].[Assessments] ([Id], [CourseId], [Title], [Description], [Type], [TotalMarks], [PassingMarks], [DurationMinutes], [IsTimed]) VALUES (1, 1, N'Cardiology Final Exam', N'Comprehensive assessment of cardiology knowledge', N'Exam', 100, 70, 120, 1)
INSERT [dbo].[Assessments] ([Id], [CourseId], [Title], [Description], [Type], [TotalMarks], [PassingMarks], [DurationMinutes], [IsTimed]) VALUES (2, 2, N'Neurology Quiz', N'Neurological disorders and diagnostics quiz', N'Quiz', 50, 35, 45, 1)
INSERT [dbo].[Assessments] ([Id], [CourseId], [Title], [Description], [Type], [TotalMarks], [PassingMarks], [DurationMinutes], [IsTimed]) VALUES (3, 3, N'Emergency Protocols Test', N'Emergency response procedures assessment', N'Exam', 75, 50, 60, 1)
SET IDENTITY_INSERT [dbo].[Assessments] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [EntityType], [EntityId], [OldValues], [NewValues], [Timestamp], [IpAddress]) VALUES (1, 1, N'Document Verification', N'Document', 1, N'{"VerificationStatus": "Pending"}', N'{"VerificationStatus": "Verified", "VerifiedBy": 1}', CAST(N'2025-07-31T10:07:00.1000000' AS DateTime2), N'192.168.1.100')
INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [EntityType], [EntityId], [OldValues], [NewValues], [Timestamp], [IpAddress]) VALUES (2, 1, N'User Profile Update', N'User', 7, N'{"Phone": "+919876543214"}', N'{"Phone": "+919876543215"}', CAST(N'2025-08-15T10:07:00.1000000' AS DateTime2), N'192.168.1.101')
INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [EntityType], [EntityId], [OldValues], [NewValues], [Timestamp], [IpAddress]) VALUES (3, 2, N'Job Posting', N'Job', 1, NULL, N'{"Title": "Cardiology Resident", "CompanyId": 3}', CAST(N'2025-08-10T10:07:00.1000000' AS DateTime2), N'192.168.1.102')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
INSERT [dbo].[Companies] ([Id], [CompanyName], [Industry], [Website], [Description], [RegistrationNumber], [LicensePath], [KYCStatus], [Address], [City], [State], [Country], [ZipCode], [ContactPerson]) VALUES (3, N'Apollo Hospitals', N'Healthcare', N'https://www.apollohospitals.com', N'Leading healthcare provider with 70+ hospitals across India', N'REG001', N'/documents/licenses/apollo_license.pdf', N'Approved', N'21 Greams Lane', N'Chennai', N'Tamil Nadu', N'India', N'600006', N'Rajesh Kumar')
INSERT [dbo].[Companies] ([Id], [CompanyName], [Industry], [Website], [Description], [RegistrationNumber], [LicensePath], [KYCStatus], [Address], [City], [State], [Country], [ZipCode], [ContactPerson]) VALUES (4, N'Max Healthcare', N'Healthcare', N'https://www.maxhealthcare.in', N'Multi-specialty hospital chain with advanced medical facilities', N'REG002', N'/documents/licenses/max_license.pdf', N'Approved', N'Sector 19', N'Gurgaon', N'Haryana', N'India', N'122001', N'Priya Sharma')
INSERT [dbo].[Companies] ([Id], [CompanyName], [Industry], [Website], [Description], [RegistrationNumber], [LicensePath], [KYCStatus], [Address], [City], [State], [Country], [ZipCode], [ContactPerson]) VALUES (5, N'Fortis Healthcare', N'Healthcare', N'https://www.fortishealthcare.com', N'One of India''s largest healthcare networks', N'REG003', N'/documents/licenses/fortis_license.pdf', N'Approved', N'Okhla Road', N'New Delhi', N'Delhi', N'India', N'110025', N'Amit Verma')
GO
SET IDENTITY_INSERT [dbo].[CourseModules] ON 

INSERT [dbo].[CourseModules] ([Id], [CourseId], [Title], [Description], [OrderIndex], [ContentType], [ContentPath], [DurationMinutes]) VALUES (1, 1, N'Introduction to Cardiovascular System', N'Basic anatomy and physiology of heart', 1, N'Video', N'/content/cardiology/module1.mp4', 45)
INSERT [dbo].[CourseModules] ([Id], [CourseId], [Title], [Description], [OrderIndex], [ContentType], [ContentPath], [DurationMinutes]) VALUES (2, 1, N'Common Cardiac Diseases', N'Overview of prevalent heart conditions', 2, N'Video', N'/content/cardiology/module2.mp4', 60)
INSERT [dbo].[CourseModules] ([Id], [CourseId], [Title], [Description], [OrderIndex], [ContentType], [ContentPath], [DurationMinutes]) VALUES (3, 1, N'Diagnostic Procedures', N'ECG, Echo, and other cardiac tests', 3, N'Video', N'/content/cardiology/module3.mp4', 75)
SET IDENTITY_INSERT [dbo].[CourseModules] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Title], [Description], [Category], [InstructorId], [DurationHours], [Price], [IsPaid], [CreatedDate], [IsActive]) VALUES (1, N'Advanced Cardiology', N'Comprehensive course on cardiovascular diseases and treatments', N'Cardiology', 3, 40, CAST(5000.00 AS Decimal(10, 2)), 1, CAST(N'2025-08-30T10:07:00.0433333' AS DateTime2), 1)
INSERT [dbo].[Courses] ([Id], [Title], [Description], [Category], [InstructorId], [DurationHours], [Price], [IsPaid], [CreatedDate], [IsActive]) VALUES (2, N'Neurology Fundamentals', N'Introduction to neurological disorders and diagnostics', N'Neurology', 4, 35, CAST(4500.00 AS Decimal(10, 2)), 1, CAST(N'2025-08-30T10:07:00.0433333' AS DateTime2), 1)
INSERT [dbo].[Courses] ([Id], [Title], [Description], [Category], [InstructorId], [DurationHours], [Price], [IsPaid], [CreatedDate], [IsActive]) VALUES (3, N'Emergency Medicine Protocols', N'Critical care and emergency response procedures', N'Emergency Medicine', 3, 30, CAST(4000.00 AS Decimal(10, 2)), 1, CAST(N'2025-08-30T10:07:00.0433333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([Id], [UserId], [DocumentType], [FileName], [FilePath], [UploadDate], [VerificationStatus], [VerifiedBy], [VerifiedDate]) VALUES (1, 7, N'Degree', N'rahul_mbbs_certificate.pdf', N'/documents/degrees/rahul_mbbs.pdf', CAST(N'2025-07-01T10:07:00.0766667' AS DateTime2), N'Verified', 1, CAST(N'2025-07-31T10:07:00.0766667' AS DateTime2))
INSERT [dbo].[Documents] ([Id], [UserId], [DocumentType], [FileName], [FilePath], [UploadDate], [VerificationStatus], [VerifiedBy], [VerifiedDate]) VALUES (2, 7, N'NEET', N'rahul_neet_scorecard.pdf', N'/documents/neet/rahul_neet.pdf', CAST(N'2025-07-01T10:07:00.0766667' AS DateTime2), N'Verified', 1, CAST(N'2025-07-31T10:07:00.0766667' AS DateTime2))
INSERT [dbo].[Documents] ([Id], [UserId], [DocumentType], [FileName], [FilePath], [UploadDate], [VerificationStatus], [VerifiedBy], [VerifiedDate]) VALUES (3, 7, N'Resume', N'rahul_sharma_resume.pdf', N'/documents/resumes/rahul_resume.pdf', CAST(N'2025-07-31T10:07:00.0766667' AS DateTime2), N'Verified', 1, CAST(N'2025-08-15T10:07:00.0766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledDate], [ProgressPercentage], [CompletionDate], [CertificatePath]) VALUES (1, 7, 1, CAST(N'2025-07-31T10:07:00.0566667' AS DateTime2), CAST(100.00 AS Decimal(5, 2)), CAST(N'2025-08-25T10:07:00.0566667' AS DateTime2), N'/certificates/rahul_cardiology.pdf')
INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledDate], [ProgressPercentage], [CompletionDate], [CertificatePath]) VALUES (2, 7, 3, CAST(N'2025-08-15T10:07:00.0566667' AS DateTime2), CAST(75.00 AS Decimal(5, 2)), NULL, NULL)
INSERT [dbo].[Enrollments] ([Id], [StudentId], [CourseId], [EnrolledDate], [ProgressPercentage], [CompletionDate], [CertificatePath]) VALUES (3, 8, 2, CAST(N'2025-08-05T10:07:00.0566667' AS DateTime2), CAST(100.00 AS Decimal(5, 2)), CAST(N'2025-08-27T10:07:00.0566667' AS DateTime2), N'/certificates/priya_neurology.pdf')
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Interviews] ON 

INSERT [dbo].[Interviews] ([Id], [ApplicationId], [ScheduledDate], [InterviewType], [Platform], [MeetingLink], [Interviewer], [Notes], [Status]) VALUES (1, 3, CAST(N'2025-09-06T10:07:00.0366667' AS DateTime2), N'Online', N'Zoom', N'https://zoom.us/j/123456789', N'Dr. Rajesh Kumar', N'Technical interview for neurology position', N'Scheduled')
INSERT [dbo].[Interviews] ([Id], [ApplicationId], [ScheduledDate], [InterviewType], [Platform], [MeetingLink], [Interviewer], [Notes], [Status]) VALUES (2, 5, CAST(N'2025-09-04T10:07:00.0366667' AS DateTime2), N'Offline', NULL, NULL, N'Dr. Amit Verma', N'Final round interview at hospital', N'Scheduled')
INSERT [dbo].[Interviews] ([Id], [ApplicationId], [ScheduledDate], [InterviewType], [Platform], [MeetingLink], [Interviewer], [Notes], [Status]) VALUES (3, 6, CAST(N'2025-09-09T10:07:00.0366667' AS DateTime2), N'Online', N'Google Meet', N'https://meet.google.com/abc-defg-hij', N'Dr. Sneha Patel', N'Pediatric department interview', N'Scheduled')
SET IDENTITY_INSERT [dbo].[Interviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Subject], [Content], [SentDate], [IsRead]) VALUES (1, 3, 7, N'Interview Preparation', N'Please prepare for your upcoming cardiology interview. Review the common cardiac conditions.', CAST(N'2025-08-30T10:07:00.0866667' AS DateTime2), 0)
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Subject], [Content], [SentDate], [IsRead]) VALUES (2, 4, 8, N'Neurology Interview Details', N'Your neurology interview will be conducted by Dr. Sharma. Please bring your portfolio.', CAST(N'2025-08-29T10:07:00.0866667' AS DateTime2), 1)
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Subject], [Content], [SentDate], [IsRead]) VALUES (3, 5, 9, N'Welcome to Fortis', N'Welcome to Fortis Healthcare! Your joining formalities will be shared soon.', CAST(N'2025-08-28T10:07:00.0866667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[MstCourse] ON 

INSERT [dbo].[MstCourse] ([CourseID], [CourseCode], [FacultyID], [ProgramID], [CourseName]) VALUES (1, N'C001', 1, 1, N'MBBS')
INSERT [dbo].[MstCourse] ([CourseID], [CourseCode], [FacultyID], [ProgramID], [CourseName]) VALUES (2, N'C002', 1, 2, N'MD')
INSERT [dbo].[MstCourse] ([CourseID], [CourseCode], [FacultyID], [ProgramID], [CourseName]) VALUES (3, N'C003', 1, 2, N'MS')
SET IDENTITY_INSERT [dbo].[MstCourse] OFF
GO
SET IDENTITY_INSERT [dbo].[MstFaculty] ON 

INSERT [dbo].[MstFaculty] ([FacultyID], [FacultyCode], [FacultyName], [Description]) VALUES (1, N'F001', N'Medicine', N'Allopathic medical education including MBBS, MD, MS, and super-specialties')
INSERT [dbo].[MstFaculty] ([FacultyID], [FacultyCode], [FacultyName], [Description]) VALUES (2, N'F002', N'Dentistry', N'Dental education including BDS and MDS programs')
INSERT [dbo].[MstFaculty] ([FacultyID], [FacultyCode], [FacultyName], [Description]) VALUES (3, N'F003', N'Ayurveda', N'Traditional Indian medical system offering BAMS and MD Ayurveda')
SET IDENTITY_INSERT [dbo].[MstFaculty] OFF
GO
SET IDENTITY_INSERT [dbo].[MstFacultyType] ON 

INSERT [dbo].[MstFacultyType] ([FacultyTypeID], [FacultyType], [Description]) VALUES (1, N'UG', N'Undergraduate programs such as MBBS, BDS, BAMS, etc.')
INSERT [dbo].[MstFacultyType] ([FacultyTypeID], [FacultyType], [Description]) VALUES (2, N'PG', N'Postgraduate programs such as MD, MS, MDS, etc.')
INSERT [dbo].[MstFacultyType] ([FacultyTypeID], [FacultyType], [Description]) VALUES (3, N'Super-Specialty', N'Advanced programs such as DM and M.Ch')
SET IDENTITY_INSERT [dbo].[MstFacultyType] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedDate], [ScheduledDate]) VALUES (1, 7, N'Application Shortlisted', N'Congratulations! Your application for Cardiology Resident at Apollo Hospitals has been shortlisted.', N'InApp', 0, CAST(N'2025-08-30T10:07:00.0800000' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedDate], [ScheduledDate]) VALUES (2, 7, N'New Job Alert', N'New internship opportunity in Emergency Medicine at Apollo Hospitals', N'Email', 0, CAST(N'2025-08-28T10:07:00.0800000' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedDate], [ScheduledDate]) VALUES (3, 8, N'Interview Scheduled', N'Your interview for Neurology Resident at Max Healthcare is scheduled for next week.', N'InApp', 0, CAST(N'2025-08-30T10:07:00.0800000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [UserId], [Amount], [Currency], [PaymentMethod], [TransactionId], [Status], [CreatedDate], [Description]) VALUES (1, 7, CAST(5000.00 AS Decimal(10, 2)), N'INR', N'Razorpay', N'TXN_2024_001', N'Completed', CAST(N'2025-07-31T10:07:00.0966667' AS DateTime2), N'Payment for Advanced Cardiology course')
INSERT [dbo].[Payments] ([Id], [UserId], [Amount], [Currency], [PaymentMethod], [TransactionId], [Status], [CreatedDate], [Description]) VALUES (2, 8, CAST(4500.00 AS Decimal(10, 2)), N'INR', N'Stripe', N'TXN_2024_002', N'Completed', CAST(N'2025-08-05T10:07:00.0966667' AS DateTime2), N'Payment for Neurology Fundamentals course')
INSERT [dbo].[Payments] ([Id], [UserId], [Amount], [Currency], [PaymentMethod], [TransactionId], [Status], [CreatedDate], [Description]) VALUES (3, 9, CAST(6000.00 AS Decimal(10, 2)), N'INR', N'Razorpay', N'TXN_2024_003', N'Completed', CAST(N'2025-08-10T10:07:00.0966667' AS DateTime2), N'Payment for Orthopedic Surgery Basics course')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ReviewerId], [RevieweeId], [Rating], [Comment], [CreatedDate]) VALUES (1, 7, 3, 5, N'Excellent training program and supportive environment. Highly recommended for cardiology aspirants.', CAST(N'2025-08-20T10:07:00.0900000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ReviewerId], [RevieweeId], [Rating], [Comment], [CreatedDate]) VALUES (2, 8, 4, 5, N'Outstanding neurology department with cutting-edge facilities and experienced faculty.', CAST(N'2025-08-22T10:07:00.0900000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ReviewerId], [RevieweeId], [Rating], [Comment], [CreatedDate]) VALUES (3, 9, 5, 4, N'Great orthopedic program with good hands-on experience. Minor improvements needed in accommodation.', CAST(N'2025-08-25T10:07:00.0900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([SpecID], [CourseID], [Specialization]) VALUES (1, 2, N'Anatomy')
INSERT [dbo].[Specialization] ([SpecID], [CourseID], [Specialization]) VALUES (2, 2, N'Physiology')
INSERT [dbo].[Specialization] ([SpecID], [CourseID], [Specialization]) VALUES (3, 2, N'Biochemistry')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
INSERT [dbo].[Students] ([Id], [MedicalSpecialization], [GraduationYear], [NEETScore], [ResumePath], [ProfilePicturePath], [Bio], [Address], [City], [State], [Country], [ZipCode]) VALUES (7, N'Cardiology', 2024, CAST(685.50 AS Decimal(5, 2)), N'/documents/resumes/rahul_sharma_resume.pdf', N'/images/profiles/rahul.jpg', N'Dedicated medical student with strong foundation in cardiology', N'45 Civil Lines', N'Jaipur', N'Rajasthan', N'India', N'302001')
INSERT [dbo].[Students] ([Id], [MedicalSpecialization], [GraduationYear], [NEETScore], [ResumePath], [ProfilePicturePath], [Bio], [Address], [City], [State], [Country], [ZipCode]) VALUES (8, N'Neurology', 2024, CAST(692.00 AS Decimal(5, 2)), N'/documents/resumes/priya_gupta_resume.pdf', N'/images/profiles/priya.jpg', N'Passionate about neurological disorders and research', N'12 MG Road', N'Pune', N'Maharashtra', N'India', N'411001')
INSERT [dbo].[Students] ([Id], [MedicalSpecialization], [GraduationYear], [NEETScore], [ResumePath], [ProfilePicturePath], [Bio], [Address], [City], [State], [Country], [ZipCode]) VALUES (9, N'Orthopedics', 2024, CAST(678.50 AS Decimal(5, 2)), N'/documents/resumes/arjun_verma_resume.pdf', N'/images/profiles/arjun.jpg', N'Sports medicine enthusiast with surgical interests', N'78 Park Street', N'Kolkata', N'West Bengal', N'India', N'700016')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [FirstName], [LastName], [Phone], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'admin@placementcell.com', N'admin123', N'Admin', N'System', N'Administrator', N'+1234567890', CAST(N'2025-08-30T10:06:59.9833333' AS DateTime2), CAST(N'2025-08-30T10:06:59.9833333' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [FirstName], [LastName], [Phone], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'moderator@placementcell.com', N'admin123', N'Admin', N'Content', N'Moderator', N'+1234567891', CAST(N'2025-08-30T10:06:59.9833333' AS DateTime2), CAST(N'2025-08-30T10:06:59.9833333' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [FirstName], [LastName], [Phone], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, N'hr@aabc.com', N'admin123', N'Company', N'Rajesh', N'Kumar', N'+919876543210', CAST(N'2025-08-30T10:06:59.9933333' AS DateTime2), CAST(N'2025-08-30T10:06:59.9933333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Applicat__0293429494818EA9]    Script Date: 11/1/2025 5:23:41 PM ******/
ALTER TABLE [dbo].[Applications] ADD UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_JobId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_JobId] ON [dbo].[Applications]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_StudentId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_StudentId] ON [dbo].[Applications]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_UserId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Documents_UserId] ON [dbo].[Documents]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Enrollme__5E57FC82499B666D]    Script Date: 11/1/2025 5:23:41 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_StudentId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_StudentId] ON [dbo].[Enrollments]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobs_CompanyId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_CompanyId] ON [dbo].[Jobs]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Jobs_JobType]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_JobType] ON [dbo].[Jobs]
(
	[JobType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ReceiverId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ReceiverId] ON [dbo].[Messages]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SenderId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SenderId] ON [dbo].[Messages]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 11/1/2025 5:23:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053414E3B8C2]    Script Date: 11/1/2025 5:23:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ('Applied') FOR [Status]
GO
ALTER TABLE [dbo].[AssessmentQuestions] ADD  DEFAULT ((1)) FOR [Marks]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ((1)) FOR [IsTimed]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('Pending') FOR [KYCStatus]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT ('Pending') FOR [VerificationStatus]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrolledDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0)) FOR [ProgressPercentage]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [PostedDate]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[AssessmentQuestions]  WITH CHECK ADD FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([Id])
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CourseModules]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([VerifiedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MstCourse]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[MstFaculty] ([FacultyID])
GO
ALTER TABLE [dbo].[MstCourse]  WITH CHECK ADD FOREIGN KEY([ProgramID])
REFERENCES [dbo].[MstFacultyType] ([FacultyTypeID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([RevieweeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Specialization]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[MstCourse] ([CourseID])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([Id])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([EnrollmentId])
REFERENCES [dbo].[Enrollments] ([Id])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[AssessmentQuestions] ([Id])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
